@font-face {
    font-family: 'Muli';
    src: url(ressources/Muli/Muli-regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Muli';
    src: url(ressources/Muli/Muli-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Muli';
    src: url(ressources/Muli/Muli-BoldItalic.ttf) format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Muli';
    src: url(ressources/Muli/Muli-Italic.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}

body {
    font-family: 'Muli', sans-serif;

}

h1, h2, h3{
    font-family: 'Barriecito', sans-serif;
}

